:root {
  --color-dark: #1c1c1c;
  --color-light: #ffff;
  --color-navy: #0c0b1c;
  --color-site: #F8E6CB;
  --color-third: #f0ede7c6;
}

body { 
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  line-height:1.2em;
  font-size:17px;
  line-height:20px;
  
}

p {
  padding: 10px;
  font-weight: 500;
  color: #000000;

}
/*Tiulos y parrafos*/
.title {
font-size: 20px;
color: #ffff;
text-transform: uppercase;
}


.text-titulos { 
font-family: 'Poppins', sans-serif;
font-size: 20px;
font-weight: bold;
color: var(--color-dark);
letter-spacing: .05rem;
text-transform: uppercase;
}

.text-white{
font-family: 'Poppins', sans-serif;
color: var(--color-light);
font-size: 16px;
}

.text-titulos2 { 
font-family: 'Poppins', sans-serif;
font-size: 18px;
color: var(--color-dark);
text-align: center;
text-transform: uppercase;
background: #f8f8f8;  /* fallback for old browsers */
font-weight: bold;
border-radius: 3px;
}


/*Tamaños iconos*/
.lead-xl {
font-size: 1.70rem;
}


/*Secciones*/
.primary-section  { 
  background-color: var(--color-light);
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: var(--color-dark);
  letter-spacing: .05rem;
  text-align: center;
  padding:50px;
  margin-bottom: 30px;
}

.secondary-section  { 
  background-color: var(--color-navy);
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: var(--color-light);
  letter-spacing: .05rem;
  padding:50px;
  margin-bottom: 30px;
  border-top: 50px solid var(--color-navy);
}

.testimonios-section {
  background-color: var(--color-third);
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: var(--color-dark);
  letter-spacing: .08rem;
  text-align: center;
  padding:50px;
  margin-bottom: 30px;
}

.eventos {
  color: #fff;
  background-color: #0c0b1c;;
  font-family: 'Poppins', sans-serif;
}
.eventos ul li {
  font-weight: bold;
  font-size: medium;
  letter-spacing: .03rem;
  line-height: 1.6em;
}

/*Barra de navegación*/
.nav-link {
  margin-left: 1.5rem;    
}
.nav-link:hover {
  border-radius: 50px;
  background: slategrey;
  
}
.navbar {
  min-height: 5rem;
  background-color: var(--color-navy);
  font-size: 20px;
}

.navbar-brand {
  width: 195px;
  height: 105px;
}
/*Redes sociales*/
.sideways {
  writing-mode: vertical-lr;
  display: block;
  margin: 2.0rem 0;
  transform: rotate(-180deg);
  
}

/*Quienes somos*/

/*Tamaño titulos- Modales Quienes somos**/
.modal-title{
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
  color: #303841;
  font-weight: bold;
}

.modal-titlesm{
  font-family: 'Poppins', sans-serif;
  font-size: 21px;
  color: #303841;
  font-weight: bold;
  padding: 1px;
}

.modal-lista{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color:#000000;
}

/*Tamaño de imagen: Filosofia*/
.img-filosofia {
width: 25%;
height: 25%;
}

/*Cintilla Filosofia Responsive
***************************************************************************/
.cintilla {
display: block;
margin: 0 auto;
max-width: 100%;
width: 100%;
}


/* Artículos */
.articulos{
  padding-bottom: 200px;
  border-top: 60px solid var(--color-navy);
  position: relative;
  z-index: 1;
  overflow-x: hidden
}

.articulos:before {
  position: absolute;
  font-size: 110px;
  right: -10%;
  margin: 0;
  content: 'Artículos';
  line-height: 1;
  top: 35%;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  color: rgba(0, 0, 0, 0.05);
  font-weight: 700;
}

.articulos-section {
  padding: 50px 50px 30px;
  position: relative;
  z-index: 1;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  padding-top: 10%;

}

.ctas {
  background: linear-gradient(rgba(255, 255, 255, 0.856), rgba(255, 255, 255, 0.9)), url("./images/AudaciaCorporativaImagen.jpeg") fixed center center;
  padding: 30px 0;
}

.title-articulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 10%;
}

.title-articulo .dish-name {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  width: 50%;
  margin-bottom: 0;
  line-height: 1.7;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}

.descarga-articulo {
  width: 100px;
  height: 60px;
  background-color: var(--color-navy);
  border-radius: 12%;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  color: #fff;
  line-height: 60px;
  font-weight: 700;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  margin-left: auto;
  font-size:13px;

}

.articulos-section:hover .title-articulo {
  color: var(--color-navy);
}

.articulos-section:hover .title-articulo .descarga-articulo {
  background-color: #c8c6c6;
  color: var(--color-navy);
}

.articulos-section:after {
  position: absolute;
  width: calc(100% - 80px);
  height: 90%;
  background-color: #fff;
  content: '';
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 2px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
}

.img3 {
  max-width: 95%;
  height: auto;
}


@media (max-width: 991.98px) {
    .articulos {
      padding-bottom: 100px;
  }
  .articulos .row .col-12:first-child .articulos-section:before {
      top: -15px;
      left: -15px;
  }
  .articulos:before {
      right: -50%;
  }
 
}


/* End Artículos */


/*Servicios*/

/*Botón: Modal cerrar****/
.btn-close {
box-sizing: content-box;
width: 1em;
height: 1em;
padding: 0.25em 0.25em;
color: #000;
border: 0;
border-radius: 0.5rem;
opacity: 0.5;
}

/*Imagenes-servicios****/
.portfolio .portfolio-item {
cursor: pointer;
position: relative;
display: block;
max-width: 25rem;
border-radius: 0.5rem;
overflow: hidden;
}

.portfolio .portfolio-item .portfolio-item-caption {
position: absolute;
top: 0;
left: 0;
transition: all 0.2s ease-in-out;
opacity: 0;
background-color:rgba(137, 167, 161, 0.9);
}
.portfolio .portfolio-item .portfolio-item-caption:hover {
opacity: 1;
}
.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
font-size: 1.5rem;
}


@media (min-width: 992px) {
.portfolio-modal{
  font-size: 3rem;
  line-height: 2.5rem;
}
}

/*Modales-Servicios ; ****/

.modal-content {
position: relative;
flex-direction: column;
pointer-events: auto;
background-color: #fff;
background-clip: padding-box;
border: 0.125rem solid rgba(0, 0, 0, 0.2);
border-radius: 0.75rem;
outline: 0;


}

.modal-header .btn-close {
padding: 0.5rem 0.5rem;
margin: -0.5rem -0.5rem -0.5rem auto;
}


.modal-body {
font-family: 'Poppins', sans-serif;
font-weight: 50;
color: #15191d;
position: relative;
flex: 1 1 auto;

}




/*Equipo****/

.team-member {
margin-bottom: 3rem;
text-align: center;
}
.team-member img {
width: 10rem;
height: 10rem;
border: 0.5rem solid rgba(0, 0, 0, 0.1);
}
.team-member h4, .team-member .h4 {
margin-top: 1.5rem;
margin-bottom: 0;
}

.circle-border {
display: inline-block;
-webkit-border-radius: 500px;
-moz-border-radius: 500px;
border-radius: 500px;
-khtml-border-radius: 500px;
}

.zoom-in {
-webkit-transform: scale(1, 1);
-moz-transform: scale(1, 1);
-o-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-webkit-transition: all 250ms ease;
-moz-transition: all 250ms ease;
-o-transition: all 250ms ease;
-ms-transition: all 250ms ease;
transition: all 250ms ease;
}
.zoom-in:hover {
-webkit-transform: scale(1.1, 1.1);
-moz-transform: scale(1.1, 1.1);
-o-transform: scale(1.1, 1.1);
-ms-transform: scale(1.1, 1.1);
}


/*Contacto**/


.formulario {
width: 100%;
border-top: 3px solid #ffff;
border-bottom: 3px solid #ffff;
padding: 30px;
background: var(--color-navy);
box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contacto {
border-top: 3px solid #ffff;
border-bottom: 3px solid #ffff;
padding: 30px;
background: var(--color-site);
width: 100%;
box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.info p {
padding: 0 0 10px 60px;
margin-bottom: 20px;
font-size: 14px;
color: #1c1c1c;
}

.info h4 {
padding: 0 0 0 60px;
font-size: 22px;
font-weight: 600;
margin-bottom: 5px;
color: #142850;
font-weight: bold;
}

.info i {
font-size: 25px;
color: #1c1c1c;
float: left;
width: 44px;
height: 44px;
background: #ffff;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50px;
}

/*Mapas responsive**/
.map-responsive{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;

}

.map-responsive iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

/*Galeria**/

/*Footer**/
.footer {
background-color: var(--color-navy);
text-align: center;
font-size: 0.9rem;
font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
color: #ffff;
}


/*Responsive-Home*/
@media (max-width: 991.98px) {
  .content {
    padding: 3rem 0;
  }
}

@media (max-width: 1199.98px) {
  .sideways {
    margin: 2rem 0;
  }
  .lead-xl {
    font-size: 1.2rem;
  }
}
  


.img-rounded {
  margin: auto;
  display: block;
  width: 13%;
  max-width: 500px;
}
